html {
  height: 100%;
}

body {
  background: #e9e9e9 !important;
  min-height: 100%;
  padding: 3em;
  font-family: 'Montserrat';
}

#editorjs {
  background: white;
}

h1 {
  text-align: center;
}

